{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}
<br>

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="container my-2" style="text-align: center;">
  <h1>Welcome! Book Your Tickets with Films <img src="/static/images/movies.png" alt="BookMyTicket" width="80"
      height="80"> ForYou</h1>
</div>
<div style="text-align: center;">
  <h5 class="my-4"><strong>Venues in {{CityName}} </strong></h5>
  {% for v in venue %}
  <a class="btn btn-warning" href="/venueshow/{{user.UserName}}/{{v.VenueID}}" role="button"><strong>{{v.VenueName}}</strong></a>
  {% endfor %}
</div>

<div class="container my-4" style="text-align: center; display: flex;">
  {% for s in show[0:3] %}
  <div class="col" style="margin: 20px;">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">{{s.ShowName}}</h3>
        <p class="card-text">
        <h6 class="my-2">Ticket Price: ₹ {{s.ShowPrice}}</h6>
        <h6 class="my-2">Language: {{s.ShowLanguage}}</h6>
        <h6 class="my-2">Time: {{s.ShowTime}}</h6>
        <h6>Rating: {{s.ShowRating}} <img src="/static/images/star.png" alt="star"
          style="height: 20px; width: 20px;"></h6>
        </p>
        <a href="/seating/{{s.ShowID}}/{{user.UserName}}" class="btn btn-warning">Book Ticket</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}